<%- include("header", {title: title}); %>

<h1>Välkommen till vapenregistret</h1>

<p>Vi erbjuder pricksäker information.</p>

<!-- <ul>
    <li><a href="balance">View account balance</a></li>
    <li><a href="move-to-adam">Move to Adam</a></li>
</ul> -->

<%- include("footer"); %>
