<!doctype html>
<html lang="sv">
<head>
    <title>Teachers</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Hem</a> |
        <a href="/about">Om</a> |
        <a href="/teachers">Teachers</a>
    </nav>
