<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<header>
    <nav>
        <a href="/exam/index">Index</a> |
        <a href="/exam/visa">Våra hundar</a>
    </nav>
</header>

<main>
