<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>

<link rel="stylesheet" href="style/style.css">
<link rel="icon" href="favicon.ico">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">Index</a> |
        <a href="/visa">Förbjudna böcker</a>
    </nav>
</header>

<main>
