body {
    margin: 1em auto;
    color: #1a0d00;
    background: #ffc;
    width: 700px;
    font-size: 16px;
    line-height: 1.6em;
}

header {
    background-color: #ddd;
    padding: 1em;
}

footer {
    background-color: #666;
    color: #fff;
    padding: 1em;
}

article {
    max-width: 60em;
}

table {
    border: 1px solid #ccc;
    background-color: #fff;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    border: 1px solid #999;
    padding: 0.3em 1em;
}

td {
    padding: 0.3em 1em;
    border: 1px solid #999;
}

td.right {
    text-align: right;
}

tr:hover {
    background-color: #eee;
}

ul {
    list-style-type: none;
    list-style-position: outside;
}

li {
    margin-bottom: 1em;
}

h2 {
    border-bottom: 1px solid #313030;
    margin-top: 2em;
}

figure {
    float: right;
    width: 20em;
    padding: 1em;
    background-color: #ccc;
    overflow: auto;
}

img {
    width: 100%;
}

code,
kbd,
samp,
var {
    display: inline;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    color: #000;
    background: #efefef;
    border: 1px solid #777;
    padding: 0 0.2em;
}

code {
    display: block;
    white-space: pre-wrap;
}
