<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>

<link rel="stylesheet" href="style/style.css">
<link rel="icon" href="favicon.ico">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">Index</a> |
        <a href="/product">Produkter</a> |
        <a href="/category">Kategorier</a> |
        <a href="/create">Ny produkt</a>
    </nav>
</header>

<main>
