<%- include("header", {title: title}); %>

<h1>Skapa ny produkt</h1>

<form class="label-left" method="post">
    <fieldset>
        <legend>Ny Produkt</legend>
        <p>
            <label for="namn">Benämning</label>
            <input id="namn" type="text" name="namn">
        </p>
        <p>
            <label for="beskrivning">Beskrivning</label>
            <input id="beskrivning" type="text" name="beskrivning">
        </p>
        <p>
            <label for="pris">Pris</label>
            <input id="pris" type="text" name="pris">
        </p>
        <p>
            <label for="stock">Lagerantal</label>
            <input id="stock" type="number" name="stock">
        </p>
        <p>
            <input type="submit" name="create" value="Lägg till">
        </p>
    </fieldset>
</form>

<%- include("footer"); %>
